$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$brainflix-silver: #AFAFAF;
$brainflix-white: #FFFFFF;
$brainflix-darkBlack: #000000;
$brainflix-darkBlue: #0065AD;
$brainflix-mercury: #E1E1E1;
$brainflix-alabaster: #FAFAFA;