@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colours.scss" as c;

.comments {
    padding: 0 1rem;

    @include tablet {
        padding: 0 2.25rem;
    }

    @include desktop {
        padding-left: 0;
    }

    &__new {
        display: flex;
    }

    &__avatar {
        max-width: 36px;
        max-height: 36px;
        border-radius: 50%;
        margin: 1rem 1rem 0 0;
    }

    &__counter {
        font-size: .8125rem;
        font-weight: 700;
        padding-bottom: 24px;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__form {
        @include flex-column;
        flex-grow: 1;

        @include tablet {
            flex-direction: row;
        }
    }

    &__label {
        color: c.$brainflix-silver;
        font-size: 12px;
        padding-bottom: 0.5rem;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__textarea {
        border-radius: 4px;
        background-color: c.$brainflix-alabaster;
        padding: 1rem;
        resize: none;
        border-color: c.$brainflix-mercury;
        font-size: 12px;

        @include tablet {
            height: 1rem;
            margin-right: 24px;
        }
    }

    &__textarea::placeholder {
        color: c.$brainflix-black;
    }

    &__button {
        margin: 1.5rem 0;
        @include brainflix-button;

    }

    &__button:hover {
        background-color: c.$brainflix-darkBlue;
    }

    &__icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0.5rem;
    }

    &__input {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
