@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/colours.scss' as c;

.comments {
    padding: 0 1rem;

    &__new {
        display: flex;
    }

    &__avatar {
        width: 50%;
        border-radius: 50%;
    }



    &__form {
        @include flex-column;
    }
}