@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colours.scss" as c;

.video {
    padding-bottom: 1rem;
    display: flex;
    max-width: 375px;
    cursor: pointer;

    &__image {
        width: 150px;
        height: 90px;
        min-width: 150px;
        min-height: 90px;
        border-radius: 4px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
    }

    &__title {
        font-weight: 700;
    }
}
