@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colours.scss" as c;

.form {
    display: flex;
    flex-direction: column;

    &__label {
        color: c.$brainflix-silver;
    }

    &__text {
        border-radius: 4px;
    }

    &__textarea {
        border-radius: 4px;
    }

}