@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/colours.scss' as c;

.container {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
}