@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/colours.scss' as c;

.nav {
    padding: 1rem;

    &__content {
        @include flex-col-center;
        align-items: center;
    }
    
    &__link {
        display: flex;
    }

    &__logo {
        width: 100%;
        height: 100%;
        max-width: 120px;
        max-height: 25px;
    }

    &__form {
        flex-grow: 1;
        margin-right: 10px;
        display: flex;
        border: 1px solid c.$brainflix-mercury
    }



    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    &__avatar {
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }

    &__input {
        width: 100%;
        box-sizing: border-box;
        border: none;
    }

    &__label {
        display: flex;
    }

    &__button {
        width: 100%;
        @include brainflix-button;
    }

    &__span{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: .5rem;
    }
}